<!DOCTYPE html>

<html>
    <head>
        <title> <%= title%> </title>
        <link type="text/css" rel="stylesheet"
              hred="stylesheets/bootstrap.min.css" />
        <link type="text/css" rel="stylesheet"
              hred="stylesheets/style.css" />

    </head>


    <body>
    <nav class = "navbar navbar-default">
        <ul class="nav navbar-nav">
            <li> <a href="/">Home </a></li>
            <li> <a href="/random">random </a></li>
            <li> <a href="/users">users </a></li>
        </ul>
    </nav>